<%- include('templates/header', { title: 'Password Recovery - Overtracker' }); %>
<style>
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
  }
</style>
<body>
  <h3>Password Recovery for <%= userEmail %></h3>
  <form action="/resetpassword" id="form" method="post">
    <div>
      <label for="newPass">Enter your new password:</label>
      <input type="password" name="newPass" id="newPass" required>
    </div>
    <div>
      <label for="confirmNewPass">Confirm your new password:</label>
      <input type="password" name="confirmNewPass" id="confirmNewPass" required>
    </div>
    <input type="hidden" name="token" id="token" value="<%= token %>" required>
    <button type="submit">Reset Password</button>
  </form>

  <script type="text/javascript">
    const form = document.getElementById('form');
    form.addEventListener('submit', function(event) {
      const newPass = document.getElementById('newPass');
      const confirmNewPass = document.getElementById('confirmNewPass');
      if (newPass.value !== confirmNewPass.value) {
        event.preventDefault();
        confirmNewPass.value = "";
        return alert("The typed passwords don't match!");
      }
    });
  </script>
<%- include('templates/footer'); %>
